@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ELEMENTOS DA INTERFACE */

body {
    background-color: #15142b;
    background-image: linear-gradient(180deg, #372991, #15142b);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

header, main, section, article {
    max-width: 1250px; 
}

header > h1 {
    color: white;
    margin: 50px 0px;
}

main, section, article {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
}

footer {
    display: block;
    width: 100vw;
    background-color: #291f6c;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 5px;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

h2, h3, h4 {
    color: #372991;
    margin: 0 0 10px 0;
}

a {
    background-color: #4eb854;
    color: white;
    padding: 8px 15px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #45a049;
}

/* TABELAS E LISTAS */

table {
    min-width: 400px;
    border-spacing: 0px;
    border: 0.5px solid #372991;
    margin: 5px auto;
    text-align: center;
}

table th {
    background-color: #372991;
    color: white;
    padding: 10px;
    text-align: center;
}

table td {
    padding: 5px 10px;
}

table tr {
    background-color: rgba(55, 41, 145, 0.05);
}

table tr:nth-child(odd) {
    background-color: rgba(55, 41, 145, 0.3);
}

table.divisao {
    border: 1px solid white;
}

table.divisao td {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
}

table.divisao  tr:nth-child(1) td:nth-child(2) {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(2) {
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(1) {
    text-decoration: underline;
}

ul > li::marker {
    color: #372991;
}

/* ELEMENTOS DE FORMULÃRIO */

form {
    background-color: rgba(55, 41, 145, 0.2);
    padding: 15px;
    border-radius: 10px;
}

.form-sem-estilo {
    background-color:white;
    padding: 0px;
}

form label {
    display: block;
    width: fit-content;
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

input[type=text], [type=number], select, input[type=date], input[type=date], input[type=datetime], input[type=email], input[type=month], input[type=password], input[type=range], input[type=tel], input[type=time], input[type=week] {
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    font-size: 1em;
    color: white;
    padding: 15px 25px;
    margin: 15px 0px 0px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-sem-estilo[type=submit]{
    margin: 10px 0px 0px 0px;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset] {
    width: 100%;
    background-color: #eb9903;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #c27013;
}

input[type=button], button {
    width: 100%;
    background-color: #372991;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover, button:hover {
    background-color: #291f6c;
}

.button-tela-pedido[type=button] {
    width: 100%;
    background-color: #4CAF50;
    font-size: 1em;
    color: white;
    padding: 15px 25px;
    margin: 10px 0px 0px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-tela-pedido[type=button]:hover {
    background-color: #45a049;
}

fieldset {
    border: 0.5px dotted #372991;
}

fieldset > legend {
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    border-radius: 5px;
}

input[type=radio] + label, input[type=checkbox] + label {
    display: inline-block;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
}

.valores {
    display: flex;
    justify-content: space-between;
}

.valores > p {
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 3px 7px;
    border-radius: 5px;
    margin: 7px 0px;
}

.valoresRecibo {
    max-width: 350px;
    font-size: 0.9em;
    background-color: rgba(55, 41, 145, 0.2);
    padding: 15px 20px;
    border-radius: 5px;
    margin: 7px 0px;
}

.labelValor {
    margin-right: 30px;
    font-weight: bold;
}

.produto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto img {
    width: 650px;
    border-radius: 5px;
    border: 2px solid black;
}

.desc {
    margin-left: 10px;
    padding: 15px;
}


.titulo {
    display: flex;
}

.titulo strong {
    color: #f3123c;
    font-size: 2em;
    margin-left: 9px;
}

.sub-titulo {
    font-size: 14px;
    color: rgb(111, 111, 111);
}

.info {
    margin: 25px 0px;
    font-size: 15px;
}

.valor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valor h2 {
    color: #e30830;
}

.vitrine {
    display: flex;
}

.produto-vitrine {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
    transition: all .3s;
}

.produto-vitrine:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.produto-vitrine:active {
    transform: scale(0.95);
    cursor: pointer;
}

.produto-vitrine img {
    width: 420px;
    border: 2px solid black;
    margin-top: 5px;
}

.msg {
    color: gray;
    margin-left: 7px;
}

.popup-email {
    display: none;
    max-width: 500px;
}

.popup-email-content div p {
    margin-top: 10px;
    font-size: 15px;
    color: rgb(70, 70, 70);
}

.esqueci-senha {
    display: flex;
    justify-content: end;
    font-size: 14px;
}

.esqueci-senha div:hover {
    text-decoration: underline;
    color: #4eb854;
    cursor: pointer;
}

.container-enviarEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-enviarEmail p {
    margin-bottom: 10px;
}
